@font-face {
    font-family: Inconsolata;
    src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

*{
    font-family: Inconsolata;
}

html{
    margin: 0;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    background-image:url('./assets/images/background-desktop.png');
    background-size: cover;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    gap: 1rem;
}

.form{
    width: 100vw;
}

.titleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    margin: 0;
    width: 70%;
    text-align: center;
    font-size: 32pt;
}

.labelInput{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.gapItem{
    gap:1rem
}

.subTitle{
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
}

.logo{
    align-self: center;
}

.ticket{
    display: none;
}

.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.formItem{
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
}

.inputItem{
    color: hsl(0, 0%, 100%);
    background-color: hsla(245, 19%, 35%,50%);
    border: 1px solid hsl(245, 15%, 58%);
    border-radius: 1rem;
    width: 500px;
    height: 3rem;
}

.inputItemError{
    border: 1px solid hsl(7, 71%, 60%) !important;
}

.inputItem:hover, .inpUpLoad:hover{
    transition: 1s;
    background-color: hsl(245, 15%, 58%);
}

.inpFile{
    display: none;
}

.inpUpLoad{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(245, 19%, 35%,50%);
    border: 1px dashed hsl(245, 15%, 58%);
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
    width: 500px;
    height: 10rem;
}

.inpUpLoadError{
    border: 2px dashed hsl(7, 88%, 67%);
}

.inpUpLoadEmpty{
    outline: 2px dashed hsl(245, 15%, 58%);
    outline-offset: 2px;
}

.upFoto{
    border: 1px solid hsl(245, 15%, 58%);
    background-color: hsla(245, 19%, 35%,100%);
    border-radius: 5px;
    width: 2rem;
}

.submitBtn{
    width: 500px;
    background-color: hsl(7, 88%, 67%);
    height: 3rem;
    border: none;
    color: hsl(248, 70%, 10%);
    font-size: 14pt;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.submitBtn:hover{
    transition: 1s;
    background-color: hsl(7, 71%, 60%);
}

.lilText{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12pt;
    font-weight: 300;
    color: hsl(0, 0, 100%);
    margin-bottom: -1.5rem;
}

.error-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 12pt;
    font-weight: 300;
    align-items: center;
    color: hsl(7, 71%, 60%);
    gap: 8px;
}

.errorText{
    margin: 0;
}

.emptyValue {
    outline: 2px solid hsl(245, 15%, 58%);
    outline-offset: 2px;
}

#iconInfo{
    fill: red;
}

.avatar-preview{
    width: 100px;
}

.image-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 550px) {
    html{
        background-image: url('./assets/images/background-mobile.png');
        background-position: center;
        background-size: cover;
    }
    header{
        max-width: 100%;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formDiv{
        width: 100vw;
        max-width: 90%;
    }

    .inpUpLoad{
        width: 100%;
    }

    .formItem{
        width: 100%;
    }

    .inputItem{
        width: 100%;
    }

    .submitBtn{
        width: 100%;
    }

    .title{
        width: 100%;
        font-size: 20pt;
    }
    .subTitle{
        width: 100%;
        font-size: 14pt;
        font-weight: 300;
    }

    .lilText{
        font-size: 9pt;
    }
}